html body {
	background: #dfdfdf;
	width: 1110px;
    margin: 0 auto;
	padding: 0;

}
.topbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.col-7.topbar_list {
    padding: 0;
}
.topbar_list{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 28px;
	font: 800 16px Roboto, sans-serif;
	justify-content: space-between;
}
.topbar_list_little{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 7px;
}
.topbar_bag ul{
	padding: 0;
	margin: 0;
}
.logo-block{
	width: 150px;
}
.logo-block img{
	width: 100%;
}
.circle{
	display: inline-block; /* дозволяє елементу бути блочним для вирівнювання */
    padding: 10px; /* відступи для створення круглої форми */
    background: #E0011F; /* колір фону */
    color: #EFEFF2; /* колір тексту (це не має великого значення для зображення) */
    border-radius: 50%; /* робить елемент круглим */
    width: 40px; /* ширина кола */
    height: 40px; /* висота кола */
    text-align: center; /* центрує зображення по горизонталі */
    line-height: 40px; 
}
.circle img {
    max-width: 100%; /* гарантує, що зображення не виходить за межі кола */
    max-height: 100%; /* гарантує, що зображення не виходить за межі кола */
    vertical-align: middle; /* вирівнює зображення по вертикалі */
}
input{
	border-radius: 10px;
    border: 1px solid gray; 
    width: 100%; 
    height: 41px;
    padding: 0 10px;
	color: #7A7A7A;
	background: #EBEBEB;
}
.navigation{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 21px;
	margin-bottom: 21px;
}  
.col-8.nav_list{
	padding: 0;	
}
.col-4.nav_list{
	padding: 0;	
}
.navigation li{
	text-transform: uppercase;
    list-style: none;
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-right: 20px;
}
.navigation ul{
	padding: 0; 
    margin: 0; 

}
.navigation li a {
    color: black;
    text-decoration: none;
}
.navigation li a:hover {
    color: grey;
}
.choice {
	align-items: center;
    justify-content: space-between;
  	padding: 0;
	margin-top: 45px;
	border-bottom: 1px solid #b8b1b1;
}
.choice li{
	align-items: center; 
    text-align: center; 
	padding-top: 10px;
}
.choice p{
	color: #121212;
	font: 600 16px Roboto, sans-serif;
}
.cards{
	width: 100%;
	height: 362px;
	background: white;
	border-radius: 5%;
	padding: 0;
}
.card_style{
	margin-top: 58px;
	/*justify-content: space-around;*/
	padding: 0;
}
div.col-3 {
	padding: 0;
}
.row_size{
	row-gap: 10px;
	column-gap: 10px;
	
}
.card1{
	background: #fffefe url(../img/card1.png) no-repeat;
}
.card2{
	background: #fffefe url(../img/card2.png) no-repeat;
}
.card3{
	background: #fffefe url(../img/card3.png) no-repeat;

}
.card4{
	background: #fffefe url(../img/card4.png) no-repeat;
}
.card5{
	background: #fffefe url(../img/card5.png) no-repeat;
}
.card6{
	background: #fffefe url(../img/card6.png) no-repeat;
}
.card7{
	background: #fffefe url(../img/card7.png) no-repeat;
}
.card8{
	background: #fffefe url(../img/card8.png) no-repeat;
}
.card9{
	background: #fffefe url(../img/card9.png) no-repeat;
}
.card10{
	background: #fffefe url(../img/card10.png) no-repeat;
}
.card11{
	background: #fffefe url(../img/card11.png) no-repeat;
}
.card12{
	background: #fffefe url(../img/card12.png) no-repeat;
}
.container_of_cards{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 30px;
    row-gap: 40px;
    margin-top: 58px;
}
.card_container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
}
.card_price_container{
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin: 37px 20px 37px 20px;
}
.card_propouse p{
	color: #EBEBEB;
	font: 600 10px Roboto, sans-serif;
	
}
.paragraf{
	padding: 2px 5px; /* Внутренние отступы */
	border-radius: 5px; /* Овальные края */
	display: block;
	background-color: #121212;
	width: fit-content;
	margin: 10px 0 5px 10px;
}
.paragraf_two{
	font: 600 18px Roboto, sans-serif;
}
.paragraf_three{
	color: #FE0000;
	font: 600 18px Roboto, sans-serif;
}
.news_letter{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 100px;
}
.news_letter_size{
	width: 295px;
	height: 67px;
}
.join{
	font: 600 30px Roboto, sans-serif;
	margin: 0 auto;
}
.unsubscribe{
	font: 400 16px Roboto, sans-serif;
}
.size{
	border: 1px solid;
	border-color: #E7E7E7;
	color: #E7E7E7;
	width: 392px;
	height: 42px;
	border-radius: 10px;
	background: #ffffff;
}
.second_size{
	border: 1px solid;
	border-color: #E0011F;
	color: #E7E7E7;
	width: 135px;
	height: 42px;
	border-radius: 10px;
	background: #E0011F;
}
.we_recommend{
	font: 600 30px Roboto, sans-serif;
	margin-top: 54px;
	margin-bottom: 24px;
	text-align: center;
}

.footer{

	
}*/
